
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post">
    <label>Name:</label><input name="Name" />
    <label>Description:</label><input name="Desctiption" />
    <button type="submit">Add</button>
</form>
