@model WoopCart.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Edit</h2>
<h5>Are you sure you want to delete this item?</h5>
<form method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <button type="submit">Remove</button>
</form>
<a href="/Index">Cancle</a>